@page "/Chn_menu3"

<h3>Menu for Crystal Jade</h3>


<h4>
    <button type="submit"> <img src="https://chefquak.files.wordpress.com/2017/04/half-roast-duck-s27-80.jpg" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Classic_Pecking_Duck">Choose the quantity:</label>
        <select name="Classic_Pecking_Duck" id="classicpeckingduck">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
    </form>
    <button type="submit"> <img src="https://honestcooking.com/wp-content/uploads/2015/02/roasted-pork-belly-with-honey-61.jpg" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Honey_Roasted_Pork">Choose the quantity:</label>
        <select name="Honey_Roasted_Pork" id="honeyroastedpork">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
    </form>
    <button type="submit"> <img src="https://theflavoursofkitchen.com/wp-content/uploads/2018/09/Sweet-Corn-Chicken-Soup-3.jpg" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Sweet_Corn_Minced_Chicken_Soup">Choose the quantity:</label>
        <select name="Sweet_Corn_Minced_Chicken_Soup" id="soup">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
        <input type="submit" value="Submit">
    </form>

    <form method="get" action="/Chn_page">
        <button type="submit">Back to Chinese Cuisine</button>
    </form>

</h4>
@code {

}
