@page "/Chn_menu1"


<h3>Menu for Tim Ho Wan</h3>


<h4>
    <button type="submit"> <img src="https://www.tasteasianfood.com/wp-content/uploads/2019/03/turnip-cake-featured-image-720x540.jpg" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="radish_cake">Choose the quantity:</label>
        <select name="radish_cake" id="Rcakes">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
    </form>
    <button type="submit"> <img src="https://media-cdn.tripadvisor.com/media/photo-s/13/5b/2c/6b/chicken-siew-mai.jpg" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="siew_mai">Choose the quantity:</label>
        <select name="siew_mai" id="siewmai">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
    </form>
    <button type="submit"> <img src="https://images.summitmedia-digital.com/yummyph/images/Sept_2014/bolabola-siopao-640.jpg" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="sio_pao">Choose the quantity:</label>
        <select name="sio_pao" id="siopao">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
        <input type="submit" value="Submit">
    </form>

    <form method="get" action="/Chn_page">
        <button type="submit">Back to Chinese Cuisine</button>
    </form>


</h4>

@code {

}
