@page "/Chn_page"

<h3>Chinese Cuisine</h3>


<h4>
    <form method="get" action="/Chn_menu1">
        <button type="submit"> <img src="https://www.capitaland.com/content/dam/capitaland-sites/singapore/shop/malls/plaza-singapura/tenants/Tim%20ho%20wan%20PS.png.transform/cap-midres/image.png" height="128" width="192" /></button>
    </form>
    <form method="get" action="/Chn_menu2">
        <button type="submit"> <img src="https://www.paradisegp.com/wp-custom/images/LogoMenu-CP.jpg" height="128" width="192" /></button>
    </form>
    <form method="get" action="/Chn_menu3">
        <button type="submit"> <img src="https://www.crystaljade.com/wp-content/themes/CrystalJade/images/facebookopengraph/CJ_logo.png" height="128" width="192" /></button>
    </form>
</h4>

<h5>
    <form method="get" action="/Delivery Page">
        <button type="submit">Back to main page</button>
    </form>
</h5> 



@code {

}
