@page "/Chn_menu2"

    <h3>Menu for Canton Paradise</h3>


    <h4>
        <button type="submit"> <img src="https://3.bp.blogspot.com/-zyDPO8Zb948/Vu6G4yDRucI/AAAAAAAACY0/1Q-kVhwbGJY-EEzSdgmFdYJmvuiJfgG1Q/s640/IMG_1090.JPG" height="128" width="192" /></button>
        <form action="/action_page.php">
            <label for="Egg_Fried_Rice">Choose the quantity:</label>
            <select name="Egg_Fried_Rice" id="eggfriedrice">
                <option value="one">1</option>
                <option value="two">2</option>
                <option value="three">3</option>
                <option value="four">4</option>
            </select>
            <br><br>
        </form>
        <button type="submit"> <img src="https://farm6.staticflickr.com/5319/7069365655_cd1ef76dfa_z.jpg" height="128" width="192" /></button>
        <form action="/action_page.php">
            <label for="Pork_Belly">Choose the quantity:</label>
            <select name="Pork_Belly" id="porkbelly">
                <option value="one">1</option>
                <option value="two">2</option>
                <option value="three">3</option>
                <option value="four">4</option>
            </select>
            <br><br>
        </form>
        <button type="submit"> <img src="https://ik.imagekit.io/jq1luxum6oz/https://s3-ap-southeast-1.amazonaws.com/v3-live.image.oddle.me/product/SlicedBeefCongee1f78dd_1642150041904_1642152304462.jpg?tr=,h-1000" height="128" width="192" /></button>
        <form action="/action_page.php">
            <label for="Sliced_Beef_Congee">Choose the quantity:</label>
            <select name="Slice_Beef_Congee" id="slicedbeefcongee">
                <option value="one">1</option>
                <option value="two">2</option>
                <option value="three">3</option>
                <option value="four">4</option>
            </select>
            <br><br>
            <input type="submit" value="Submit">
        </form>

        <form method="get" action="/Chn_page">
            <button type="submit">Back to Chinese Cuisine</button>
        </form>

    </h4>

    @code {

    }
