@page "/Delivery Page"

<h3>Delivery Address: <input id="theTextInput" type="text" name="theTextInput" /> <button type="button">Checkout</button> </h3> 

<h4>
    <form method="get" action="/Delivery Page">
        <button type="submit">Delivery</button>
    </form>

    <form method="get" action="/PickupPage">
        <button type="submit">Pick-Up</button>
    </form>

    <form method="get" action="/Shops">
        <button type="submit">Shop</button>
    </form>
</h4>

<h5>

    <form method="get" action="/Chn_page">
        <button type="submit"> <img src="https://purewows3.imgix.net/images/articles/2021_12/traditional-chinese-food-FB.jpg?auto=format,compress&cs=strip" height="128" width="192" /></button>
    </form>

    <form method="get" action="/Mly_page">
        <button type="submit"> <img src="https://asianinspirations.com.au/wp-content/uploads/2020/09/20200901-Malaysian-Cuisine-Kaleidoscope-of-Flavours-00-Feat-Img_1920w.jpg" height="128" width="192" /></button>
    </form>

    <form method="get" action="/Indian_page">
        <button type="submit"> <img src="https://www.khaosodenglish.com/wp-content/uploads/2019/08/CIB_1-1068x601.jpg" height="128" width="192" /></button>
    </form>
    <form method="get" action="/Western_page">
        <button type="submit"> <img src="https://png.pngtree.com/background/20210714/original/pngtree-western-food-platter-picture-image_1198607.jpg" height="128" width="192" /></button>\
    </form>
    <form method="get" action="/Jap_page">
        <button type="submit"> <img src="https://www.misstamchiak.com/wp-content/uploads/2017/07/donya-japanese-cuisine-e1501059454261.jpg" height="128" width="192" /></button>
    </form>
    <form method="get" action="/Local_page">
        <button type="submit"> <img src="https://img.theculturetrip.com/wp-content/uploads/2017/10/20845130191_07e8336eb8_k.jpg" height="128" width="192" /></button>
    </form>
</h5>

<h6>
    <form method="get" action="/Checkout">
        <button type="submit">Checkout</button>
    </form>
</h6>


        @code {

        }
