@page "/"

<h1>Delgato Delivery</h1>

Deliver your favorite food from your favorite restaurant with our fast and speedy service.

<h2>
<input id="theTextInput" type="text" name="theTextInput" /> 
    
    <form method="get" action="/Delivery Page">
        <button type="submit">Search</button>
    </form>
</h2>