@page "/Idn_menu3"

<h3>Menu For Banana Leaf Apolo</h3>

<h4>
    <button type="submit"> <img src="https://cdn.tatlerasia.com/asiatatler/sg/i/2018/11/12200129-DahiPuri_cover.jpg" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Dahi_Puri">Choose the quantity:</label>
        <select name="Dahi_Puri" id="dahipuri">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
    </form>

    <button type="submit"> <img src="https://cdn.foodadvisor.com.sg/3/400/ycqwu/vt-iw/Fhetksji/4349247.zfw/samosa.jpg" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Samosa">Choose the quantity:</label>
        <select name="Samosa" id="samosa">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
    </form>

    <button type="submit"> <img src="https://ik.imagekit.io/jq1luxum6oz/https://s3-ap-southeast-1.amazonaws.com/v3-live.image.oddle.me/product/SeekhMuttonKebab9abd36.jpg?tr=w-500,h-500" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Seekh_Mutton_Kebab">Choose the quantity:</label>
        <select name="Seekh_Mutton_Kebab" id="seekhmuttonkebab">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
        <input type="submit" value="Submit">
    </form>

    <form method="get" action="/Idn_page">
        <button type="submit">Back to Indian Cuisine</button>
    </form>

</h4>

@code {

}
