@page "/Idn_menu1"

<h3>Menu for Muthu's Curry</h3>

<h4>
    <button type="submit"> <img src="https://cdn.tasteatlas.com/images/dishrestaurants/db54e09951984cada0ad4cda43e9a733.jpg?w=600&h=450" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Fish_Head_Curry">Choose the quantity:</label>
        <select name="Fish_Head_Curry" id="fishheadcurry">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
    </form>
    <button type="submit"> <img src="https://cfcdn2.azsg.opensnap.com/azsg/snapphoto/photo/LC/GV5E/3BXIGJA60A3D086A876497lv.jpg" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Masala_Chicken">Choose the quantity:</label>
        <select name="Masala_Chicken" id="masalachicken">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
    </form>
    <button type="submit"> <img src="https://ucarecdn.com/b4ec0568-f9df-40f9-b43f-afa9fd830930/" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Mutton_Vindaloo">Choose the quantity:</label>
        <select name="Mutton_Vindaloo" id="muttonvindaloo">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
        <input type="submit" value="Submit">
    </form>

    <form method="get" action="/Idn_page">
        <button type="submit">Back to Indian Cuisine</button>
    </form>

</h4>

@code {

}
