@page "/Idn_menu2"

<h3>Menu For Banana Leaf Apolo</h3>

<h4>
    <button type="submit"> <img src="https://ccpl.ninjaos.com/media/dev_team/products/gallery-image/c6989b7bf7dafb60ac6f7ac91a09a086.png" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Curry_Chicken">Choose the quantity:</label>
        <select name="Curry_Chicken" id="currychicken">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
    </form>

    <button type="submit"> <img src="https://ccpl.ninjaos.com/media/dev_team/products/gallery-image/ec67c952db8cd2031c4b5cb72d985450.png" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Paneer_Makhani">Choose the quantity:</label>
        <select name="Paneer_Makhani" id="paneermakhani">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
    </form>

    <button type="submit"> <img src="https://ccpl.ninjaos.com/media/dev_team/products/gallery-image/05f4a71264cd82eea496b127deec25c7.png" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Fried_Fish">Choose the quantity:</label>
        <select name="Fried_Fish" id="friedfish">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
        <input type="submit" value="Submit">
    </form>

    <form method="get" action="/Idn_page">
        <button type="submit">Back to Indian Cuisine</button>
    </form>

</h4>

@code {

}
