@page "/Indian_page"

<h3>Indian Cuisine</h3>

<h4>

    <form method="get" action="/Idn_menu1">
        <button type="submit"> <img src="https://ucarecdn.com/1c4ec268-d22f-4d6c-b80b-6fc8fda9ae4a/-/crop/386x386/63,81/-/preview/" height="128" width="192" /></button>
    </form>

    <form method="get" action="/Idn_menu2">
        <button type="submit"> <img src="https://www.thebananaleafapolo.com/skin/images/footer_logo.png" height="128" width="192" /></button>
    </form>

    <form method="get" action="/Idn_menu3">
        <button type="submit"> <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/59297c8327421.560bb4261b4fd.jpg" height="128" width="192" /></button>
    </form>
</h4>

<h5>
    <form method="get" action="/Delivery Page">
        <button type="submit">Back to main page</button>
    </form>
</h5>

@code {

}
