@page "/Jap_page"
<h3>Japanese Cuisine</h3>

<h4>
    <form method="get" action="/Jap_menu1">
        <button type="submit"> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/Ichiban_Sushi.pdf/page1-1200px-Ichiban_Sushi.pdf.jpg" height="128" width="192" /></button>
    </form>

    <form method="get" action="/Jap_menu2">
        <button type="submit"> <img src="https://www.paragon.com.sg/media/media/images/stores/Tori-Q/toriq_feature_1200.jpg" height="128" width="192" /></button>
    </form>

    <form method="get" action="/Jap_menu3">
        <button type="submit"> <img src="https://images.getbento.com/accounts/7458ab9e937e879983aca5087b7df7e1/media/accounts/media/9iGHe1ERf28aIZDIvWLQ_Ajisen-Logo.png?w=600&fit=max&auto=compress,format&h=600" height="128" width="192" /></button>
    </form>
</h4>

<h5>
    <form method="get" action="/Delivery Page">
        <button type="submit">Back to main page</button>
    </form>
</h5>

@code {

}
