@page "/Jap_menu3"

<h3>Menu for Ajisen</h3>

<h4>
    <button type="submit"> <img src="https://burpple-3.imgix.net/foods/115fab664b4454f4e6c877399_original.?w=645&dpr=1&fit=crop&q=80&auto=format" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Tonkatsu_Ramen">Choose the quantity:</label>
        <select name="Tonkatsu_Ramen" id="tonkatsuramen">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
    </form>

    <button type="submit"> <img src="https://preview.redd.it/etmn9vxnn0x11.jpg?auto=webp&s=a98576fe0996f3c54f1a6e646ac27ecada5f2c9c" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Miso_Chashu">Choose the quantity:</label>
        <select name="Miso_Chashu" id="misochasu">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
    </form>

    <button type="submit"> <img src="https://media-cdn.tripadvisor.com/media/photo-s/0e/05/06/91/spicy-pork-ramen-50-spicy.jpg" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Spicy_Ramen">Choose the quantity:</label>
        <select name="Spicy_Ramen" id="spicyramen">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
        <input type="submit" value="Submit">
    </form>

    <form method="get" action="/Jap_page">
        <button type="submit">Back to Japanese Cuisine</button>
    </form>

</h4>

@code {

}
