@page "/Jap_menu1"

<h3>Menu for Ichiban Sushi</h3>

<h4>
    <button type="submit"> <img src="https://ik.imagekit.io/jq1luxum6oz/https://s3-ap-southeast-1.amazonaws.com/v3-live.image.oddle.me/product/Sashimi3Kindd07431.jpg?tr=,h-1000" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Sashimi">Choose the quantity:</label>
        <select name="Sashimi" id="sashimi">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
    </form>

    <button type="submit"> <img src="https://ik.imagekit.io/jq1luxum6oz/https://s3-ap-southeast-1.amazonaws.com/v3-live.image.oddle.me/product/IchibanDon84792b.jpg?tr=,h-1000" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Ichiban_Don">Choose the quantity:</label>
        <select name="Ichiban_Don" id="ichibandon">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
    </form>

    <button type="submit"> <img src="https://ik.imagekit.io/jq1luxum6oz/https://s3-ap-southeast-1.amazonaws.com/v3-live.image.oddle.me/product/MentaiTamagoUnagiDon663e9d.jpg?tr=,h-1000" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Tamago_Unagi">Choose the quantity:</label>
        <select name="Tamago_Unagi" id="tamagounagi">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
        <input type="submit" value="Submit">
    </form>

    <form method="get" action="/Jap_page">
        <button type="submit">Back to Japanese Cuisine</button>
    </form>

</h4>

@code {

}
