@page "/Local_menu3"

<h3>Menu for Liho</h3>

<h4>
    <button type="submit"> <img src="https://res.klook.com/images/fl_lossy.progressive,q_65/c_fill,w_1200,h_630,f_auto/w_80,x_15,y_15,g_south_west,l_klook_water/activities/vw83vafnysaitrbfbzju/LiHOTEAinSingapore-MarinaBaySandsSkyparkCombo.jpg" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Milk_Tea">Choose the quantity:</label>
        <select name="Milk_Tea" id="milktea">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
    </form>

    <button type="submit"> <img src="https://compassone.sg/wp-content/uploads/2020/03/Liho-avocado-smoothie.jpg" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Avocado_Cheese">Choose the quantity:</label>
        <select name="Avocado_Cheese" id="avacodacheese">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
    </form>

    <button type="submit"> <img src="https://cdn2.sg.orstatic.com/userphoto/photo/2/1WC/00DHZH1CA0546098524085px.jpg" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Mango_Coconut">Choose the quantity:</label>
        <select name="Mango_Coconut" id="mangococonut">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
        <input type="submit" value="Submit">
    </form>

    <form method="get" action="/Local_page">
        <button type="submit">Back to Local Cuisine</button>
    </form>

</h4>

@code {

}
