@page "/Local_menu1"

<h3>Menu for Toast Box</h3>

<h4>
    <button type="submit"> <img src="https://www.allsgpromo.com/wp-content/uploads/toast-box-curry-chicken.png" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Curry_Chicken">Choose the quantity:</label>
        <select name="Curry_Chicken" id="chickecurry">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
    </form>

    <button type="submit"> <img src="https://toastbox.com.sg/images/product--coffe.png" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Kopi">Choose the quantity:</label>
        <select name="Kopi" id="kopi">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
    </form>

    <button type="submit"> <img src="https://www.marinabaysands.com/content/dam/revamp/restaurants/restaurant-details/toast-box/TB_MBS_MastheadBanner_600x660px.jpg" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Kaya_Toast">Choose the quantity:</label>
        <select name="Kaya_Toast" id="kayatoast">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
        <input type="submit" value="Submit">
    </form>

    <form method="get" action="/Local_page">
        <button type="submit">Back to Local Cuisine</button>
    </form>

</h4>

@code {

}
