@page "/Local_menu2"

<h3>Mewnu for Tenderfresh</h3>

<h4>
    <button type="submit"> <img src="https://s3-ap-southeast-1.amazonaws.com/smoovpos-live/f186d509-8953-4dbc-924b-a9ca1559d8c1/1511140752_443174776honeyglazedroastedspringchicken1.jpg" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Roasted_Spring_Chicken">Choose the quantity:</label>
        <select name="Roasted_Spring_Chicken" id="roastedspringchicken">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
    </form>

    <button type="submit"> <img src="https://s3-ap-southeast-1.amazonaws.com/smoovpos-live/f186d509-8953-4dbc-924b-a9ca1559d8c1/1139643933_succulentcrispyskinchickensteak.jpg" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Chicken_Chop">Choose the quantity:</label>
        <select name="Chicken_Chop" id="Chicken_Chop">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
    </form>

    <button type="submit"> <img src="https://s3-ap-southeast-1.amazonaws.com/smoovpos-live/f186d509-8953-4dbc-924b-a9ca1559d8c1/407583192_chickenbolognese.jpg" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Chicken_Bolognese">Choose the quantity:</label>
        <select name="Chicken_Bolognese" id="chickenbolognese">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
        <input type="submit" value="Submit">
    </form>

    <form method="get" action="/Local_page">
        <button type="submit">Back to Local Cuisine</button>
    </form>

</h4>

@code {

}
