@page "/Local_page"

<h3>Local cuisine</h3>

<h4>
    <form method="get" action="/Local_menu1">
        <button type="submit"> <img src="https://www.scottssquareretail.com/wp-content/uploads/2020/01/Toast-Box-Logo-1200x900px.jpg" height="128" width="192" /></button>
    </form>

    <form method="get" action="/Local_menu2">
        <button type="submit"> <img src="https://scontent.fsin8-2.fna.fbcdn.net/v/t1.18169-9/15400502_10154663125881397_4743799199272983662_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=174925&_nc_ohc=DEgdVEAmyPYAX8H14uv&_nc_ht=scontent.fsin8-2.fna&oh=00_AT8Q2SWZ3WZHV75hQ6k71UAfpMQQwlqwcHZSbpI3SGc6QQ&oe=6215314D" height="128" width="192" /></button>
    </form>

    <form method="get" action="/Local_menu3">
        <button type="submit"> <img src="https://4.bp.blogspot.com/-IPwD6oR_nQA/WXTDrY7p6iI/AAAAAAAABAI/5-TuhGewfecgyTZkbN-3nIaA6q9O0UvdgCLcBGAs/s1600/liho%2Blogo.png" height="128" width="192" /></button>
    </form>
</h4>

<h5>
    <form method="get" action="/Delivery Page">
        <button type="submit">Back to main page</button>
    </form>
</h5>

@code {

}
