@page "/Mly_page"

<h3>Malay Cuisine</h3>

<h4>
    <form method="get" action="/Mly_menu1">
        <button type="submit"> <img src="https://ucarecdn.com/b4927237-ff73-4034-82cd-4f6dfd2b6328/-/format/auto/-/resize/240x/" height="128" width="192" /></button>
    </form>

    <form method="get" action="/Mly_menu2">
        <button type="submit"> <img src="https://www.yassin.com.sg/wp-content/uploads/2021/11/logo_133x125.png" height="128" width="192" /></button>
    </form>

    <form method="get" action="/Mly_menu3">
        <button type="submit"> <img src="https://www.halaltag.com/images/place/188-place.jpg" height="128" width="192" /></button>
    </form>
</h4>

<h5>
    <form method="get" action="/Delivery Page">
        <button type="submit">Back to main page</button>
    </form>
</h5>

@code {

}
