@page "/Mly_menu3"

<h3>Menu for Hjh Maimunah</h3>

<h4>
    <button type="submit"> <img src="https://i0.wp.com/www.angsarap.net/wp-content/uploads/2018/12/Ayam-Bakar-Wide.jpg?ssl=1" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Ayam_Bakar">Choose the quantity:</label>
        <select name="Ayam_Bakar" id="ayambakar">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
    </form>
    <button type="submit"> <img src="https://i.ytimg.com/vi/LhXJQOJokvY/maxresdefault.jpg" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Acar_Timun">Choose the quantity:</label>
        <select name="Acar_Timun" id="acartimun">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
    </form>
    <button type="submit"> <img src="https://i0.wp.com/www.angsarap.net/wp-content/uploads/2018/01/Ikan-Bakar-Wide.jpg?ssl=1" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Ikan_Panggang">Choose the quantity:</label>
        <select name="Ikan_Panggang" id="ikanpanggang">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
        <input type="submit" value="Submit">
    </form>

    <form method="get" action="/Mly_page">
        <button type="submit">Back to Malay Cuisine</button>
    </form>

</h4>


@code {

}
