@page "/Mly_menu2"

<h3>Menu for Yassin Kampung</h3>

<h4>
    <button type="submit"> <img src="https://order.yassin.com.sg//image/cache/catalog/Shiok%20Garden%20Food%20Menu/Top%20Seller/Grilled%20Chicken%20with%20Black%20Pepper%20Sauce%20_1_%20_1_-700x700.jpg" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Chicken_Chop">Choose the quantity:</label>
        <select name="Chicken_Chop" id="chickenchop">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
    </form>
    <button type="submit"> <img src="https://order.yassin.com.sg//image/cache/catalog/Shiok%20Garden%20Food%20Menu/BBQ%20Chicken%20Bento/IMG_3514-Edit-2%20_1_-700x700.jpg" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Mala_Chicken">Choose the quantity:</label>
        <select name="Mala_Chicken" id="malachicken">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
    </form>
    <button type="submit"> <img src="https://order.yassin.com.sg//image/cache/catalog/Shiok%20Garden%20Food%20Menu/BBQ%20Chicken%20Bento/IMG_3514-Edit-2%20_1_-700x700.jpg" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Chicken_Rendang">Choose the quantity:</label>
        <select name="Chicken_Rendang" id="chickenrendang">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
        <input type="submit" value="Submit">
    </form>

    <form method="get" action="/Mly_page">
        <button type="submit">Back to Malay Cuisine</button>
    </form>

</h4>


@code {

}
