@page "/PickupPage"

<h3>Pick-up Page</h3>

<h5>
    Explore restuarant near you
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.62007086041!2d103.90009561527982!3d1.4042536617881136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da15e328fef83b%3A0x794177313be07f2e!2sPunggol%20Temp%20Int!5e0!3m2!1sen!2ssg!4v1643091065229!5m2!1sen!2ssg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</h5>

<h7>
    <form method="get" action="/Chn_page">
        <button type="submit"> <img src="https://purewows3.imgix.net/images/articles/2021_12/traditional-chinese-food-FB.jpg?auto=format,compress&cs=strip" height="128" width="192" /></button>
    </form>

    <form method="get" action="/Mly_page">
        <button type="submit"> <img src="https://asianinspirations.com.au/wp-content/uploads/2020/09/20200901-Malaysian-Cuisine-Kaleidoscope-of-Flavours-00-Feat-Img_1920w.jpg" height="128" width="192" /></button>
    </form>

    <form method="get" action="/Indian_page">
        <button type="submit"> <img src="https://www.khaosodenglish.com/wp-content/uploads/2019/08/CIB_1-1068x601.jpg" height="128" width="192" /></button>
    </form>
    <form method="get" action="/Western_page">
        <button type="submit"> <img src="https://png.pngtree.com/background/20210714/original/pngtree-western-food-platter-picture-image_1198607.jpg" height="128" width="192" /></button>\
    </form>
    <form method="get" action="/Jap_page">
        <button type="submit"> <img src="https://www.misstamchiak.com/wp-content/uploads/2017/07/donya-japanese-cuisine-e1501059454261.jpg" height="128" width="192" /></button>
    </form>
    <form method="get" action="/Local_page">
        <button type="submit"> <img src="https://img.theculturetrip.com/wp-content/uploads/2017/10/20845130191_07e8336eb8_k.jpg" height="128" width="192" /></button>
    </form>
</h7>

<h6>
    <form method="get" action="/Checkout">
        <button type="submit">Checkout</button>
    </form>
</h6>


@code {

}