@page "/Shop1"

<h3>Shop item for Cheers</h3>

<h4>
    <button type="submit"> <img src="https://media.nedigital.sg/fairprice/fpol/media/images/product/XL/328387_XL1.jpg?w=1200&q=70" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Lays">Choose the quantity:</label>
        <select name="Lays" id="lays">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
    </form>

    <button type="submit"> <img src="https://media.istockphoto.com/photos/classic-cocacola-can-picture-id465133878?k=20&m=465133878&s=612x612&w=0&h=vgcvEz4ts5WZQOhKMaKon8mIQVbr20-JhP7DKgo_wD0=" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Coke">Choose the quantity:</label>
        <select name="Coke" id="coke">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
    </form>

    <button type="submit"> <img src="https://media.nedigital.sg/fairprice/fpol/media/images/product/XL/223157_RXL1_20210608.jpg" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Cup_Noodle">Choose the quantity:</label>
        <select name="Cup_Noodle" id="cupnoodle">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
        <input type="submit" value="Submit">
    </form>

    <form method="get" action="/Shops">
        <button type="submit">Back to Shops</button>
    </form>

</h4>

@code {

}
