@page "/Shop3"

<h3>Shop Item for Delgato Mart</h3>

<h4>
    <button type="submit"> <img src="https://www.pokka.co/images/default-source/partner-brands/pepsi-03--pepsi-320ml.jpg?sfvrsn=acb23d7d_4" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Pepsi">Choose the quantity:</label>
        <select name="Pepsi" id="pepsi">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
    </form>

    <button type="submit"> <img src="https://media.nedigital.sg/fairprice/fpol/media/images/product/XL/10729225_XL1_20210609.jpg" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Ruffles">Choose the quantity:</label>
        <select name="Ruffles" id="ruffles">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
    </form>

    <button type="submit"> <img src="https://media.nedigital.sg/fairprice/fpol/media/images/product/XL/93980_XL1_20210903.jpg?w=1200&q=70" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Bread">Choose the quantity:</label>
        <select name="Bread" id="bread">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
        <input type="submit" value="Submit">
    </form>

    <form method="get" action="/Shops">
        <button type="submit">Back to Shops</button>
    </form>

</h4>

@code {

}
