@page "/Shop2"

<h3>Shop item for 7 - Eleven</h3>

<h4>
    <button type="submit"> <img src="https://www.asiaone.com/sites/default/files/original_images/Sep2020/200910_slurpee_facebook.jpg" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Slurpee">Choose the quantity:</label>
        <select name="Slurpee" id="slurpee">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
    </form>

    <button type="submit"> <img src="https://s3-ap-southeast-1.amazonaws.com/pub.7elevencms.com/Products/00010911622629/delectable-meals_1.jpeg?20220204170953" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Bolognaise">Choose the quantity:</label>
        <select name="Bolognaise" id="bolognaise">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
    </form>

    <button type="submit"> <img src="https://s3-ap-southeast-1.amazonaws.com/pub.7elevencms.com/Products/00010911242590/burgers-wraps-pizza-bars_1.jpeg?20220204170953" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Cheesy_Beef_Burger">Choose the quantity:</label>
        <select name="Cheesy_Beef_Burger" id="cheesybeefburger">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
        <input type="submit" value="Submit">
    </form>

    <form method="get" action="/Shops">
        <button type="submit">Back to Shops</button>
    </form>

</h4>

@code {

}
