@page "/Shops"
<h3>Shops:  <input id="theTextInput" type="text" name="theTextInput" /> <button type="button">Checkout</button></h3>

<h4> <button type="button">Delivery</button> <button type="button">Pick-Up</button> <button type="button">Shop</button></h4>

<h5>
    <button type="button"> <img src="https://pbs.twimg.com/profile_images/1457711134706999301/g6fNmFSJ_400x400.jpg" height="128" width="192" /></button>
    <button type="button"> <img src="https://www.capitaland.com/content/dam/capitaland-sites/singapore/shop/malls/plaza-singapura/tenants/ps_cheers_982x818.jpg.transform/cap-midres/image.jpg" height="128" width="192" /></button>
    <button type="button"> <img src="https://imgur.com/a/ujjCZ3U" height="128" width="192" /></button>
</h5>

<h6>
    <form method="get" action="/Checkout">
        <button type="submit">Checkout</button>
    </form>
</h6>

@code {

}
