@page "/Western_page"
<h3>Western cuisine</h3>

<h4>
    <form method="get" action="/Wstn_meun1">
        <button type="submit"> <img src="https://best-credit.co/malaysia/wp-content/uploads/sites/2/2019/05/Morganfields_Pavilion_KL_Standard_Chartered_cards.jpg" height="128" width="192" /></button>
    </form>

    <form method="get" action="/Wstn_menu2">
        <button type="submit"> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/March%C3%A9-Logo.svg/1200px-March%C3%A9-Logo.svg.png" height="128" width="192" /></button>
    </form>

    <form method="get" action="/Wstn_menu3">
        <button type="submit"> <img src="https://payalebarsquare.sg/wp-content/uploads/2020/06/Stuffd-logo-800px-72dpi-01_June-20-scaled.jpg" height="128" width="192" /></button>
    </form>
</h4>

<h5>
    <form method="get" action="/Delivery Page">
        <button type="submit">Back to main page</button>
    </form>
</h5>

@code {

}
