@page "/Wstn_menu2"

<h3>Menu for </h3>

<h4>
    <button type="submit"> <img src="https://burpple-1.imgix.net/foods/30593df585fe8ce729961864414_original.?w=645&dpr=1&fit=crop&q=80&auto=format" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Chicken_Crepe">Choose the quantity:</label>
        <select name="Chicken_Crepe" id="chickencrepe">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
    </form>

    <button type="submit"> <img src="https://cdn.foodadvisor.com.sg/1/500/tccrg/30593rt5860o94s39r901864426/march-m-venpick-raffles-city.jpg" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Herb_Crusted_Sirloin">Choose the quantity:</label>
        <select name="Herb_Crusted_Sirloin" id="herbcrustedsirlon">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
    </form>

    <button type="submit"> <img src="https://media-cdn.tripadvisor.com/media/photo-s/02/b4/8a/56/marche.jpg" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Swiss_Rosti">Choose the quantity:</label>
        <select name="Swiss_Rosti" id="swissrosti">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
        <input type="submit" value="Submit">
    </form>

    <form method="get" action="/Western_page">
        <button type="submit">Back to Western Cuisine</button>
    </form>

</h4>

@code {

}
