@page "/Wstn_menu3"

<h3>Menu for Stuff'd</h3>

<h4>
    <button type="submit"> <img src="https://www.capitaland.com/content/dam/capitaland-media-library/retail/Singapore/Singapore/cma-tenants/Stuff%27d_Product2.png.transform/cap-midres/image.png" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Kebab">Choose the quantity:</label>
        <select name="Kebab" id="kebab">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
    </form>

    <button type="submit"> <img src="https://upload.wikimedia.org/wikipedia/commons/6/60/Burrito.JPG" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Burrito">Choose the quantity:</label>
        <select name="Burrito" id="burrito">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
    </form>

    <button type="submit"> <img src="https://recipetineats.com/wp-content/uploads/2018/06/Quesadillas_4.jpg" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Quesadilla">Choose the quantity:</label>
        <select name="Quesadilla" id="quesadilla">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
        <input type="submit" value="Submit">
    </form>

    <form method="get" action="/Western_page">
        <button type="submit">Back to Western Cuisine</button>
    </form>

</h4>

@code {

}
