@page "/Wstn_menu1"

<h3>Menu for Morganfields</h3>

<h4>
    <button type="submit"> <img src="https://www.jessicagavin.com/wp-content/uploads/2018/06/ribeye-steak-with-red-wine-sauce-3-1200.jpg" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Steak">Choose the quantity:</label>
        <select name="Steak" id="steak">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
    </form>

    <button type="submit"> <img src="https://www.eatwell101.com/wp-content/uploads/2020/03/Blackened-Salmon-with-Lemon-Butter-Sauce-6.jpg" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Salmon">Choose the quantity:</label>
        <select name="Salmon" id="salmon">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
    </form>

    <button type="submit"> <img src="https://www.gordonramsayrestaurants.com/assets/Uploads/_resampled/CroppedFocusedImage108081050-50-TN-American-Style-Dirty-Burger.jpg" height="128" width="192" /></button>
    <form action="/action_page.php">
        <label for="Burger">Choose the quantity:</label>
        <select name="Burger" id="burger">
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="three">3</option>
            <option value="four">4</option>
        </select>
        <br><br>
        <input type="submit" value="Submit">
    </form>

    <form method="get" action="/Western_page">
        <button type="submit">Back to Western Cuisine</button>
    </form>

</h4>

@code {

}
